* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #e8f5e9;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  color: #212121;
}

a {
  color: #000;
}
/* header */
.logo {
  font-size: 1.8rem;
  color: #000;
}
.logo span {
  color: blue;
}
.header {
  background: #ffff;
  padding-left: 1rem;
}
/* navbar */
.nav button {
  padding: 3px 10px;
  background-color: #bbdefb;
  border-radius: 20px;
  font-size: 15px;
}
.nav button:hover {
  background-color: yellow;
}
.nav {
  padding: 0rem 1rem;
  padding-bottom: 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: blue 1px solid;
}
ul {
  list-style: none;
}
.nav ul {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.nav a {
  color: rgb(0, 0, 0);
}
.nav a:hover {
  color: yellow;
}

/* footer */
footer {
  background-color: #1565c0;
  padding: 30px;
}
.footer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
footer h3 {
  font-size: 1rem;
}
footer p,
footer li {
  font-size: 0.8rem;
}

/* Login */
.login {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 90px;
  border-radius: 15px;
  margin-left: 30%;
  margin-right: 30%;
  box-shadow: 5px 5px 0 0 rgb(160, 160, 160);
}

.login label {
  text-align: center;
  font-size: 16px;
}

.login h1 {
  text-align: center;
}

.login input {
  padding: 12px;
  height: 35px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 3px;
  margin-bottom: 10px;
}

.login button {
  background-color: #bbdefb;
  border-radius: 5px;
  width: 130px;
  height: 35px;
  font-size: 16px;
  font-weight: bold;
  border: none;
}

.login p {
  padding: 15px;
}

/* Register */

.register {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 80px;
  border-radius: 15px;
  margin-left: 30%;
  margin-right: 30%;
  box-shadow: 5px 5px 0 0 rgb(160, 160, 160);
}

.register label {
  text-align: center;
  font-size: 16px;
}

.register h1 {
  text-align: center;
}

.register input {
  padding: 12px;
  height: 35px;
  font-size: 14px;
  width: 400px;
  box-sizing: border-box;
  margin-top: 3px;
  margin-bottom: 10px;
  align-items: center;
}

.register button {
  background-color: #bbdefb;
  border: none;
  border-radius: 5px;
  width: 130px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
}
